<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <!-- Utilizamos routerLink para que Angular gestione la carga de
        la nueva vista sin refrescar la página, que es el comporamiento
        por defecto de href -->
        <!-- Utilizamos routerLinkActive para que se marque sólo la pestaña
        que está seleccionada -->
        <!-- Utilizamos routerLinkActiveOptions para que marque la pestaña
        cuya ruta coincide de forma exacta con la ruta especificada -->
        <li role="presentation" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/">Home</a>
        </li>
        <li role="presentation" 
            routerLinkActive="active">
            <a routerLink="/servers">Servers</a>
        </li>
        <li role="presentation" 
            routerLinkActive="active">
            <a routerLink="/users">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Con esta directiva 'router-outlet', le indicamos a Angular dónde
      queremos que se renderice el componente de la ruta a la que se ha
      accedido -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
