<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <!-- Utilizamos routerLink para que Angular gestione la carga de
        la nueva vista sin refrescar la página, que es el comporamiento
        por defecto de href -->
        <li role="presentation" class="active"><a routerLink="/">Home</a></li>
        <li role="presentation"><a routerLink="/servers">Servers</a></li>
        <li role="presentation"><a routerLink="/users">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Con esta directiva 'router-outlet', le indicamos a Angular dónde
      queremos que se renderice el componente de la ruta a la que se ha
      accedido -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
